
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$praise : 'Praise', cursive; 
$poppins: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $poppins;
    color: white;
}
body {
    background: black;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(82, 4, 4) 50%, rgb(0, 0, 0) 100%);
}
main {
    padding: 40px;
    box-sizing: content-box;
    text-align: center;
    background: url('../image/fuego.png');
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: cover;
    
    .logo {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        box-sizing: content-box;
        text-align: center;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .menu {
        margin: 20px 0;
    }
    .marco {
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;
        .titulo {
            font-family: $praise;
            font-size: 2.5em;
            font-weight: normal;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 20px;
            tbody {
                tr td {
                    padding: 10px;
                }
                .negrita {
                    font-weight: bold;
                }
                .linea {
                    border-bottom: 1px solid white;
                }
                .parentesis {
                    font-weight: 300;
                    font-size: 0.80rem;
                }
            }
        }
    }
    .tarjetas {
        background-color:rgba(255, 255, 255, 0.85); 
        border-radius: 3px;
    }
    .mt {
        margin-top: 20px;
    }
}
